.grid-container {
  margin-top: calc(#{$margin-top});
  display: grid;
  grid-template-rows: repeat($rows-number, $row-width);
  grid-template-columns: repeat($columns-number, $column-width);
  //grid-template-columns: repeat(13, calc(41px + 7.5px));
  //background-color: rgba(173, 216, 230, 0.33);

  @media screen and (max-width: $breakpoint-md) {
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    grid-template-rows: repeat($rows-number, 9.6px);
    padding-right: 4rem;
    padding-left: 4rem;
  }
  @media screen and (max-width: $breakpoint-sm) {
    grid-template-rows: repeat($rows-number, 8.6px);
    padding-right: 1rem;
    padding-left: 1rem;
  }

  @media screen and (max-width: $breakpoint-xs) {
    display: none;
  }

  .grid-item {
    border: $border-thickness solid black;
  }

  .grid-item-1 {
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: none;
    grid-column: 1 / 4;
    grid-row: span 10;
  }
  .grid-item-2 {
    border-right: none;
    grid-column: 4 / 11;
    grid-row: span 13;

    @media screen and (max-width: $breakpoint-md) {
      grid-column: 4 / 9;
    }
  }
  .grid-item-3 {
    grid-column: 11 / 14;
    grid-row: span 13;

    @media screen and (max-width: $breakpoint-md) {
      grid-column: 10 / 14;
    }
  }
  .grid-item-4 {
    border-top: none;
    grid-column: 11 / 14;
    grid-row: span 4;

    @media screen and (max-width: $breakpoint-md) {
      grid-column: 10 / 14;
    }
  }
  .grid-item-image {
    border: none;
    grid-column: span 8;
    grid-row: 19 / 57;
  }
  .grid-item-header {
    border: none;
    h1 {
      margin: 0;
      margin-left: -$text-offset;
    }
    grid-column: 11 / 14;
    grid-row: 31/ 42;
    @media screen and (max-width: $breakpoint-md) {
      grid-column: 10 / 14;
    }
  }
  .grid-item-paragraph {
    border: none;
    padding-left: $text-offset;
    p {
      margin: 0;
    }
    grid-column: 11 / 14;
    grid-row: 46 / 54;
    @media screen and (max-width: $breakpoint-md) {
      grid-column: 10 / 14;
    }
  }

  .grid-item-link {
    border: none;
    padding-left: $text-offset;
    margin-top: auto;
    grid-column: 11 / 14;
    grid-row: 58 / 63;
    @media screen and (max-width: $breakpoint-md) {
      grid-column: 10 / 14;
    }
  }
  .grid-item-copyright {
    border: none;
    margin-top: auto;
    grid-column: 1 / 8;
    grid-row: 58 / 63;
  }
}

.mobile-container {
  display: none;
  padding: 1.75rem;
  height: calc(100vh - 60px);

  @media screen and (max-width: $breakpoint-xs) {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 320px;
  }
  .page-title {
    margin-top: auto;
  }
  .page-copyright {
    margin-top: auto;
  }
}

.page-logo {
  //width: 110px;
  width: 60%;
  @media screen and (max-width: $breakpoint-xs) {
    max-width: 85%;
  }
}

.page-image {
  width: 100%;
  height: auto;
  @media screen and (max-width: $breakpoint-md) {
    max-width: 85%;
  }
  @media screen and (max-width: $breakpoint-xs) {
    max-width: 100%;
  }
}

.page-title {
  font-size: $title-size;
  color: $title-color;
}
.page-paragraph {
  font-size: $paragraph-size;
  font-weight: bold;
}
.page-link {
  font-size: $link-size;
  color: $text-color;
}

.page-copyright {
  font-size: $copyright-size;
}
