$column-border-color: 1px solid rgba(233, 29, 99, 0.18);

$blue-color: #2f619f;
$yellow-color: #fff754;
$red-color: #bc3627;
$green-color: #498e2f;

$text-color: #373639;
$title-color: #4f4f4f;

$margin-top: 3rem;
$rows-number: 63;
//$row-width: 9.6px;
$row-width: 11.6px;
$columns-number: 13;
//$column-width: 59.7px;
$column-width: 75px;
//$column-width: calc(41px + 7.5px);

$border-thickness: 2px;
$right-column-text-max-width: 175px;
$text-offset: 5px;

$title-size: 58px;
$paragraph-size: 12.5px;
$link-size: 12.5px;
$copyright-size: 12.5px;


$breakpoint-md: 985px;
$breakpoint-sm: 732px;
$breakpoint-xs: 690px;
