@import 'variables';
@import 'grid';

@font-face {
  font-family: Vision;
  src: url('src/assets/fonts/Typeface_Vision.otf');
}

@font-face {
  font-family: Vision;
  font-weight: bold;
  src: url('src/assets/fonts/Typeface_Vision-Bold.otf');
}

body {
  font-family: Vision, sans-serif !important;
  color: $text-color;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
}

.grid-helper {
  //display: grid;
  display: none;
  position: absolute;
  width: 58%;
  height: 100%;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(15, 1fr);

  .column {
    border-left: $column-border-color;
    border-right: $column-border-color;
    color: #eee;
    font-size: 2em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
